{% extends 'base.html.twig' %}

{% block title %}Product1 index{% endblock %}

{% block body %}
    <h1>Product1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product1 in product1s %}
            <tr>
                <td>{{ product1.id }}</td>
                <td>{{ product1.name }}</td>
                <td>{{ product1.price }}</td>
                <td>
                    <a href="{{ path('app_product1_show', {'id': product1.id}) }}">show</a>
                    <a href="{{ path('app_product1_edit', {'id': product1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product1_new') }}">Create new</a>
{% endblock %}
